#MyTestApp

Django==1.9.8
BeautifulSoup
nose==1.3.7

# external deps
crcmod>=1,<2
tornado>=4.2,<5

# tchannel deps
thriftrw>=0.4,<2
threadloop>=1,<2

Bcfg2==1.2.4
ansible==2.0.0.1
askbot==0.7.53i
celery==2.2.8
