MyTestApp

Django==1.9
BeautifulSoup
nose==1.3.7
-e git://github.com/tangentlabs/django-oscar.git@d636b803d98cd1d3edd01821d4fb2a01ce215ee4#egg=django_oscar-dev

# external deps
crcmod>=1,<2
tornado>=4.2,<5

# tchannel deps
thriftrw>=0.4,<2
threadloop>=1,<2
